.s-exam {
    width: 100vw;
    height: 100%;
    background-color: rgba(204, 204, 204, 0.281);
}

.s-add {
    width: 85%;
    height: 100%;
    background-color: white;
    margin-left: 28px;
    Form {
        width: 600px;
        padding: 50px;
    }
    #s-item {
        margin-bottom: 50px;
    }
}

.s-list {
    width: 85%;
    margin-left: 28px;
    display: flex;
    flex-direction: column;
    .s-search {
        width: 100%;
        height: 140px;
        background-color: white;
        border-radius: 5px;
        line-height: 160px;
        margin-top: 50px;
        margin-bottom: 35px;
        .s-span {
            display: inline-block;
            margin-left: 80px;
        }
        Button {
            margin-left: 100px;
            width: 100px;
        }
    }
    .s-list-box {
        padding: 60px;
        width: 100%;
        height: 700px;
        background-color: white;
        border-radius: 5px;
        p {
            font-size: 16px;
            margin-bottom: 50px;
            #tabs {
                float: right;
            }
        }
    }
}

.s-time {
    display: flex;
    margin-bottom: 70px;
}

.s-create {
    width: 100%;
    height: 100%;
    background-color: rgba(204, 204, 204, 0.281);
    P {
        font-size: 18px;
        padding: 20px;
    }
    .create-box {
        width: 96%;
        height: 100%;
        background-color: white;
        margin-left: 28px;
        border-radius: 12px;
        text-align: center;
        position: relative;
        Button {
            margin: 20px;
        }
        h2 {
            padding-top: 100px;
        }
        #btn_one {
            position: absolute;
            left: 20px;
            top: 20px;
        }
        #bth_two {
            display: block;
            margin: 0 auto;
        }
    }
}

.s-detail {
    display: flex;
    flex-direction: column;
    .s-item {
        width: 90%;
        height: 200px;
        text-align: center;
        border: solid 1px #ccc;
        font-size: 20px;
        margin: 25px auto;
        display: flex;
        flex-direction: column;
        p {
            margin-top: 20px;
        }
        span {
            font-size: 15px;
            margin-top: 20px;
        }
    }
}

.s-detail-search {
    display: flex;
    justify-content: space-around;
    margin: 50px 20px 0;
}

.s-list {
    .s-list-item {
        padding: 50px 20px;
        border-bottom: 1px solid rgb(214, 213, 213);
        .s-item-type {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            span {
                display: flex;
                .Tag {
                    height: 25px;
                    line-height: 25px;
                }
                p {
                    margin-right: 20px;
                    cursor: pointer;
                    color: rgba(0, 0, 255, 0.856);
                }
            }
        }
    }
}

.s-sub {
    span {
        margin-right: 10px;
        &.active {
            background-color: rgba(38, 38, 235, 0.795);
            color: white;
            display: inline-block;
            padding: 3px;
        }
    }
}

.s-answer {
    background-color: rgba(204, 204, 204, 0.301);
    padding: 10px;
    margin: 10px 0
}

.s-create-item {
    width: 90%;
    margin: 20px auto;
    padding: 40px;
    border: solid 1px #ccc;
    b {
        font-size: 18px;
    }
    P {
        font-size: 15px;
    }
    span {
        color: rgba(0, 0, 255, 0.61);
        float: right;
        cursor: pointer;
    }
}